<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>719994240925-7gjoahvr0ob7vegu9rnr6q3o3i9h9m27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719994240925-7gjoahvr0ob7vegu9rnr6q3o3i9h9m27</string>
	<key>API_KEY</key>
	<string>AIzaSyAG9qb0QNabAYbwBhdafexvDbnIELnfcg0</string>
	<key>GCM_SENDER_ID</key>
	<string>719994240925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mang.murecycle</string>
	<key>PROJECT_ID</key>
	<string>mubackend-a6782</string>
	<key>STORAGE_BUCKET</key>
	<string>mubackend-a6782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:719994240925:ios:c47abbd28f99847d</string>
	<key>DATABASE_URL</key>
	<string>https://mubackend-a6782.firebaseio.com</string>
</dict>
</plist>
